<div id="tab-bar">
  <div class="footer">
    <div class="cls">
      <a href="#/dingyue" ng-class="{active:title=='订阅'}" ng-click="title='订阅'" class="" ng-init="title='订阅'"><span class="dy icon-icon01 iconfont">订阅</span></a>
    </div>
    <div class="cls">
      <a href="#/redian" ng-class="{active:title=='热点'}" ng-click="title='热点'" class=""><span class="rd icon-dingwei iconfont">热点</span></a>
    </div>
    <div class="cls">
      <a href="#/wanle" ng-class="{active:title=='玩乐'}" ng-click="title='玩乐'" class=""><span class="wl icon-wujiaoxing iconfont">玩乐</span></a>
    </div>
    <div class="cls">
      <a href="#/shequ" ng-class="{active:title=='社区'}" ng-click="title='社区'" class=""><span class="sq icon-shequ iconfont">社区</span></a>
    </div>
  </div>
</div>
