<div id="top-bar">
  <div class="top-nav" ng-show="title=='订阅'">
    <ul>
      <li class="dingyue"><span>订阅</span></li>
      <li class="search-person">
        <a href=""><img src="images/search.png"  class="search" alt=""></a>
        <a href="#/set" ng-click="title='我的'"><img src="images/person.png"  class="person" alt=""></a>
      </li>
    </ul>
  </div>
  <div class="top-nav" ng-show="title=='热点'">
    <ul>
      <li class="dingyue"><span>热点</span></li>
      <li class="search-person">
        <a href=""><img src="images/rd.png"  class="search" alt=""></a>
        <a href=""><img src="images/person.png"  class="person" alt=""></a>
      </li>
    </ul>
  </div>
  <div class="top-nav" ng-show="title=='玩乐'">
    <ul>
      <li class="dingyue"><span>玩乐</span></li>
      <li class="search-person">
        <a href=""><img src="images/wanle.png"  class="search" alt=""></a>
        <a href=""><img src="images/person.png"  class="person" alt=""></a>
      </li>
    </ul>
  </div>
  <div class="top-nav" ng-show="title=='社区'">
    <ul>
      <li class="dingyue"><span>社区</span></li>
      <li class="search-person">
        <a href=""><img src="images/person.png"  class="person" alt=""></a>
      </li>
    </ul>
  </div>
</div>
