
<div id="shequ">

  <div class="sq-denglu">
    <div class="sq-denglu-center">
      <img src="images/sq1.png" alt="">
      <span class="sq-denglu-title">快来登录玩转社区吧</span>
      <span class="sq-icon"></span>
    </div>
  </div>
  <div class="sq-line-cu">
    <span>推荐话题</span>
  </div>
  <ul class="tjht">
    <li ng-repeat="v in huatiList">
      <a href=""></a>
      <img src="{{v.image}}" alt="">
      <div class="sq-span">
        <span class="sq-span-title">{{v.title}}</span>
        <span class="sq-span-ms">{{v.description}}</span>
      </div>
    </li>
    <div class="sq-line"></div>


  </ul>
</div>
